In [1]:
import pandas as pd

df = pd.read_csv('orders_2019.csv')
df.head()

,order_code,product_code,type,material,composition,width,length,height,not_before,not_after,quantity
0,R0001,N020,lenti,MS,0%,1225,1420,2.0,2019-07-03,2019-08-14,5000
1,R0002,N018,lenti,MS,0%,1020,1130,2.0,2019-07-05,2019-08-16,8000
2,R0003,N020,lenti,MS,0%,1225,1420,2.0,2019-08-23,2019-10-04,14000
3,R0004,N049,lenti,MS,0%,1090,1260,2.0,2019-08-29,2019-10-10,18000
4,R0005,N018,lenti,MS,0%,1020,1130,2.0,2019-09-01,2019-10-13,9000